version: "3.9"

services:
  postgres-users:
    container_name: "postgres-users"
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: usersMicroservice
      POSTGRES_DB: vUsers
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
volumes:
  postgres_data:
    driver: local
